<!DOCTYPE html>
<html>
    <head> 
        <title> Nodejsera | nj-minifyjs | Minifying JS using node.js </title>
        <link rel="stylesheet" type="text/css" href="style.css" />  
		<link rel="stylesheet" type="text/css" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    </head>
	<body>

		<div class="container">
			<div class="row">
				<br>
				<br>
				<div class="col-md-3">
					<!-- Empty DIV -->
				</div>
				<div class="col-md-6 boundary">
					
					<br>
						<h2>nj-minifyjs</h2>
						<h3> Minify JS using node.js </h3>
					<br>
				
					<form name="minify" id="minify" action="/minify" method="post">
						
						<div class="field">
							Copy-paste the <Code>.js</code> code to minify here: <br>
							<textarea name="content" form="minify" id="content" rows="5" cols="37"></textarea>
						</div>
						
						<div class="field">
							<input type="submit" value="MINIFY">
						</div>
						<br>
						<br>
						
					</form>
					
				</div>
				<br>
					<br>
				<div class="col-md-3">
					<!-- Empty DIV -->
				</div>
			</div>
		</div>

	</body>
</html>
